.header_products {
  font-weight: bold;
  background: gray;
  color: #fff;
}

.list_products {
  font-size: 13px;
}

ion-list-header {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

ion-item {
  text-align: center;
  text-align: 11px;
}

