.list_header {
  font-weight: bold;
  background: gray;
  color: #fff;
}

.list_clients {
  font-size: 13px;
}

.add_icon {
  font-size: 20px;
  margin-right: 8px;
  cursor: pointer;
}

ion-list-header {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

ion-item {
  text-align: center;
  text-align: 11px;
}